<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nouveau métier accepté</title>
</head>
<body>
    <div style="font-family: Arial, sans-serif; max-width: 600px; margin: 0 auto; padding: 20px;">
      <p style="color: #555;">Bonjour {{ firstname }}</p>
      <h2 style="color: #333;">Bonne nouvelle le nouveau métier "{{ profession }}" que tu as ajouté à ton profil a été validé !</h2>
      <a href="#" style="display: inline-block; padding: 10px 20px; background-color: #007bff; color: #fff; text-decoration: none; border-radius: 5px; margin-top: 20px;">Découvrir les missions</a>
      <p style="color: #555;">L'équipe Steewo</p>
    </div>
</body>
</html>
